.square {
	border: 1px solid black;
	width:100px;
	height: 100px;
}

h1 {
	text-align: center;
}

#board{
	margin: auto auto;
	width: 306px;
}

#playero {
	color: #EE178C;
}

#playerx {
	color: gray;
}